/* .bg-img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.8);
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    position: fixed;
} */

body {
    background: url(/pics/set.png);
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    font-family: 'Brandon';
}

@font-face {
    font-family: 'Brandon';
    src: url(/Fonts/BrandonGrotesque-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

.navbar {  
    font-family: 'Brandon';
}

* {
    font-family: 'Brandon';
}

p {
    font-size:3.5ch;
    color: black;
    text-align: justify;
    background-color: rgba(250, 235, 215, 0.726);
    border-radius: 2ch;
    padding: 2%;
    min-width: 50vw;
}
.compare {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-evenly;
    justify-content: center;
    gap: 10%;
    
}

@media screen and (max-width: 768px) {
    .compare {
        flex-wrap: wrap;    }
  }

