.bg-img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.8);
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    position: fixed;
}

body {
    overflow-x: hidden;
    font-family: 'Brandon';
}

@font-face {
    font-family: 'Brandon';
    src: url(/Fonts/BrandonGrotesque-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

.group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.third {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar {
    font-family: 'Brandon';
}

.all {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
}

.all:hover {
    animation: Shake 0.5s linear infinite;
}

@keyframes Shake {
    0% {
        transform: rotate(5deg);
    }

    25% {
        transform: rotate(-6deg);
    }

    50% {
        transform: rotate(5deg);
    }

    75% {
        transform: rotate(-6deg);
    }

    100% {
        transform: rotate(5deg);
    }

}

.videooo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .group {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .second {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .third {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
}